@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 250 250 249;
    --foreground: 23 23 23;
  }

  .dark {
    --background: 26 26 26;
    --foreground: 237 237 237;
  }

  body {
    background: hsl(var(--background));
    color: hsl(var(--foreground));
  }
}